 .header {
   background-color: #333;
   color: #fff;
   text-align: center;
   padding: 1rem;
 }

 table {
   width: 100%;
   border-collapse: collapse;
   border: 1px solid #ccc;
 }

 table th,
 table td {
   padding: 0.75rem;
   border: 1px solid #ccc;
 }

 table th {
   background-color: #f5f5f5;
   text-align: left;
 }

 table tr:nth-child(even) {
   background-color: #f2f2f2;
 }

 table tr:hover {
   background-color: #ddd;
 }

 .button-container {
   display: flex;
   justify-content: center;
   margin-top: 1rem;
 }

 .table-container {
   margin: 2rem auto;
   max-width: 800px;
 }


 .edit-container {
   max-width: 400px;
   margin: 0 auto;
   padding: 20px;
   border: 1px solid #ccc;
   border-radius: 5px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 }

 .form-group {
   display: flex;
   flex-direction: column;
 }

 .form-group label {
   margin-bottom: 5px;
 }

 .form-group input {
   padding: 8px;
   border: 1px solid #ccc;
   border-radius: 3px;
   font-size: 14px;
   margin-bottom: 10px;
 }

 .error-message {
   color: red;
   font-size: 14px;
 }